/*top navigation*/
a {
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer;
}

ul {
    list-style: none;
}

.list-wrap {
    background-color: #44aaae;
    font-weight: normal;
}

.dropdown-menu {
    text-align: center;
}

.dropdown-menu:nth-of-type(1) {
    min-width: 178px;
}

.aon {
    min-width: 166px !important;
}

/*footer*/
.footer-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-wrap .footer-sec {
    text-align: left;
    height: 360px;
    border-right: 1px solid #fff;
}

.footer-wrap .footer-sec .list-title {
    color: #fff;
    line-height: 2.4;
    font-size: 16px;
    font-weight:bold;
}

.footer-wrap .footer-sec .list-item {
    font-size: 12px;
    text-decoration: none !important;
    outline: none !important;
    cursor: pointer;
    color: #fff;
}

.footer-wrap .footer-sec .list-item:hover {
    color: #fff;
}
